


body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e;
    color: #5eff00;
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #282a36;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0px 10px #000;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #44475a;
}

.container {
    margin-left: 270px;
    padding: 20px;
}

.pdf-viewer {
    width: 100%;
    height: 80vh;
    border: none;
}

.bar a {
    border: 2px solid #5eff00; /* Contour vert clair */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espacement interne pour éviter que le texte touche le bord */
    text-decoration: none; /* Supprime le soulignement */
    display: inline-block; /* Permet d'appliquer le padding et le contour correctement */

}

.bar a:hover {
    background-color: #44475a; 
    color: #ffffff; 
}


/* texte 1 */

.submenu {
    display: none;
    padding-left: 30px;
    
}

.submenu-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #44475a;
    border: 1px solid #212135;
    border-radius: 5px;
}

.submenu-container > a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.submenu-container > a:hover {
    background-color: #6272a4;
}

.submenu {
    display: none;
    margin-top: 10px;
}

.submenu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.submenu a:hover {
    background-color: #6272a4;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Hauteur égale à la fenêtre */
    background-color: #282a36;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0px 10px #000;
    overflow-y: auto; /* Active le défilement vertical */
    scrollbar-width: thin; /* (Optionnel) Réduit la largeur de la barre de défilement pour Firefox */
}

.sidebar::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement pour les navigateurs basés sur WebKit */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #44475a; /* Couleur de la barre de défilement */
    border-radius: 4px; /* Coins arrondis pour la barre de défilement */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #5eff00; /* Couleur de la barre de défilement au survol */
}
